<aside class="formulario">
    <section *ngIf="!leadSaved">
        <p class="primary-call">
            Junte-se a nossa comunidade e receba um ebook gratuito!</p>

        <form #leadForm="ngForm">
            <div>
                <span>Nome</span>
                <input type="text" [(ngModel)]="lead.name"
                       required name="name" minlength="3"/>
            </div>
            <div>
                <span>Sobrenome</span>
                <input type="text" [(ngModel)]="lead.lastname"
                       required name="lastname" minlength="3"/>
            </div>
            <div>
                <span>Email</span>
                <input type="email" required email
                       [(ngModel)]="lead.email" name="email"/>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <input type="radio" required value="B2C"
                           [(ngModel)]="lead.tipo" name="tipo"/>
                    <span>Pessoa Física</span>
                </div>
                <div class="col-xs-6">
                    <input type="radio" required value="B2B"
                           [(ngModel)]="lead.tipo" name="tipo"/>
                    <span>Pessoa Jurídica</span>
                </div>
            </div>
            <button type="submit" class="btn button button-call"
                    (click)="saveLead( lead.email, lead.name, lead.lastname, lead.tipo)"
                    [disabled]="!leadForm.form.valid">
                Quero fazer parte!
            </button>
        </form>
    </section>
    <section *ngIf="leadSaved">
        <i class="glyphicon glyphicon-check
 icon-form icon-form-complete"></i>
        <p>Obrigado por confiar em nosso trabalho.
            Clique no botão abaixo para baixar o ebook</p>

        <button (click)="goToDownloadEbook()"
                class="btn btn-success button button-success">baixar ebook
        </button>
    </section>
    <section *ngIf="leadError">
        <p>Ops =(</p>
        <p>Desculpe, ocorreu um erro em nosso servidor.</p>
        <p>Deseja tentar novamente?</p>
        <button class="btn btn-error button">
            Tentar Novamente
        </button>
        <i class="glyphicon glyphicon-remove-circle
icon-form icon-form-error"></i>
    </section>
</aside>