.formulario {
    display: inline-block;
    position: relative;
    float: left;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    margin-top: 60px;
}

@media (max-width: 767px) {
    .formulario {
        width: calc(100% - 20px);
        margin: 10px;
        padding: 15px 5px;
    }
}

@media (min-width: 768px) {
    .formulario {
        width: 80%;
        margin: -20px 10% 0 10%;
        padding: 20px;
    }
}
.formulario .primary-call {
    color: #777;
    letter-spacing: .015em;
    width: 100%;
    padding: 0 10px;
    text-shadow: 0.02em 0 0 #aaa;
}

@media (max-width: 767px) {
    .formulario .primary-call {
        font-size: 18px;
    }
}

.formulario .secondary-call {
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.formulario div {
    color: #666;
    font-size: 14px;
    line-height: 6vh;
    padding: 5px 10px;
}

.formulario input {
    width: 100%;
    padding: 0 5px;
    background: #f5f5f5;
    outline: none;
    line-height: 2.3;
    border-radius: 5px;
    border: none;
}
input[type=radio]{
    display: inline-block;
    position: relative;
    height: 15px;
    width: 15px!important;
    margin-right: 5px;
    top: 2px;
}
input:-webkit-autofill {
    -webkit-text-fill-color: #666;
    -webkit-box-shadow: 0 0 0 1000px #f5f5f5 inset !important;
}

/*.formulario span {*/
/*font-weight: bold;*/
/*}*/

.formulario .button {
    width: calc(100% - 20px);
    margin: 0 10px;
    font-weight: bold;
    margin-top: 5px;
    outline: none;
    border: none;
    border-radius: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    line-height: 1.8;
    text-transform: uppercase;
    color: #fff;
}

.formulario .button:hover{
    border: none;
}
.formulario .button-call {
    background: #2aff6d;
    opacity: 1;
}

.formulario .button-success {
    background: #38c336;
}
.icon-form {
    font-size: 90px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.icon-form-complete {
    color: #38c336;
}

.icon-form-complete {
    color: #38c336;
}

:host-context(.post) .formulario {
    width: 100%;
    margin: 0;
    box-shadow: none;
    padding: 0;
}