.blog-navbar {
    /*position: fixed;*/
    position: absolute;
    z-index: 2;
    width: 100%;
    min-height: 60px;
    background: white;
    /*box-shadow: 0 2px 14px rgba(0, 0, 0, 0.25);*/
}

.botaoTopo {
    width: auto;
    font-weight: bold;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    line-height: 2.0;
    text-transform: uppercase;
    color: #fff;
    background: #fe9700;
    float: right;
    outline: none;
    text-align: center;
    border: none;
}

.logo img{
    max-height: 60px;
    min-width: 150px;
}
@media (min-width: 768px) {
    .blog-navbar {
        padding: 0 10%;
    }
    .logo{
        width: 25%;
    }
}


@media (max-width: 768px) {
    .blog-navbar {
        padding: 0 10%;
    }
    .logo{
        width: 100%;
        /*margin: 0 auto;*/
    }
}

.blog-navbar a {
    display: inline-block;
    padding: 19px;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
}



.navbar-page-links {
    float: right;
}

.sidemenu-icon {
    display: inline-block;
    float: right;
}

.sidebar {
    position: fixed;
    top: 60px;
    height: calc(100vh - 60px);
    width: 100%;
    background: #fff;
}

.sidebar a {
    width: 100%;
    color: #666;
}

.sidemenu-icon i {
    color: #fff;
    font-size: 24px;
}

.blog-scroll {
    display: inline-block;
    float: left;
    /*overflow: auto;*/
    width: 100%;
    height: 100vh;
    /*height: calc(100vh - 60px);*/
    /*margin-top: 60px;*/
}

.body {
    min-height: calc(100vh - 369px);
}

.footer {
    display: inline-block;
    float: left;
    width: 100%;
    min-height: 300px;
    background: #00a59d;
}
