<nav class="blog-navbar">
  <a href="/" class="logo">
    <img src="../assets/images/logotipo.svg" alt="Ações Trader"/>
  </a>

  <button type="submit" class="botaoTopo">
    Cadastre-se já!
  </button>
  <!--<section class="navbar-page-links hidden-xs">-->
    <!--<a href="/sobre">Sobre</a>-->
    <!--<a href="/contato">Contato</a>-->
    <!--<a href="/download">Baixe</a>-->
  <!--</section>-->


  <!--<a (click)="toggleSidemenu()"-->
     <!--class="sidemenu-icon visible-xs">-->
    <!--<i class="glyphicon glyphicon-menu-hamburger"></i>-->
  <!--</a>-->
  <!--<div class="sidebar visible-xs" *ngIf="showSidemenu">-->
    <!--<a href="/sobre">Sobre</a>-->
    <!--<a href="/contato">Contato</a>-->
    <!--<a href="/download">Baixe</a>-->
  <!--</div>-->
</nav>


<div class="blog-scroll" #bodyScroll>
  <section class="body">
    <router-outlet (activate)="onActivate($event, bodyScroll)"></router-outlet>
  </section>
  <!--<footer class="footer"></footer>-->
</div>
