@media(max-width: 767px){
  .post-wrapper {
    padding: 20px;
  }
}
@media(min-width: 768px){
  .post-wrapper {
    padding: 20px 10%;
  }
}

.post {
  padding: 20px 40px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  line-height: 2;
  color: #666;
}

.post-title{
  width: 100%;
  text-align: center;
}
.post-image{
  width: 50%;
  float:left;
  padding: 0 30px 30px 0;
}
.post-content{
  padding-top: 40px;
}