<header class="header">
  <img src=""/>
  <p></p>
  <p></p>
</header>
<section class="posts-container">
  <ul class="posts">
    <li class="card-wrapper" *ngFor="let post of posts">
      <a routerLink="posts/{{post.id}}" class="card">
        <div class="card-thumb">
          <img [src]="post.image" class="img-responsive"/>
        </div>
        <div class="card-body">
          <p class="card-title">{{post.title}}</p>
          <p class="card-content">{{post.content}}</p>
        </div>
      </a>
    </li>
  </ul>
  <aside class="email-marketing"></aside>
  <ul class="posts">
    <li class="card" *ngFor="let post of posts2">
      <img src="/" class="post-thumb"/>
      <p></p>
      <p></p>
    </li>
  </ul>
</section>
