<header class="header">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107359530-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', 'UA-107359530-1');
    </script>

    <section class="call">
        <p class="titulo">Notícias,</p>
        <p class="titulo">Curiosidades,</p>
        <p class="titulo">Dicas e muito mais!</p>

        <p class="texto">O Ações Trade é um portal de conteúdo feito para que você, investidor do mercado financeiro, tenha acesso à informação para tomar as melhores
            decisões conforme o mercado se atualiza.</p><p class="texto">Poupe hoje, Invista amanhã, e Ganhe Ontem</p>
    </section>


    <lead-form></lead-form>


</header>

<!--<section class="posts-container">-->
<!--<ul class="posts">-->
<!--<li class="card-wrapper" *ngFor="let post of posts">-->
<!--<a routerLink="posts/{{post.id}}" class="card">-->
<!--<div class="card-thumb">-->
<!--<img [src]="post.image" class="img-responsive"/>-->
<!--</div>-->
<!--<div class="card-body">-->
<!--<p class="card-title">{{post.title}}</p>-->
<!--<p class="card-content">{{post.content}}</p>-->
<!--</div>-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--&lt;!&ndash;<aside class="email-marketing"></aside>&ndash;&gt;-->
<!--</section>-->
