<header class="header">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107359530-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments)
        }
        ;
        gtag('js', new Date());

        gtag('config', 'UA-107359530-1');
    </script>

    <section class="section-call">
        <section class="primary-call">
            <p class="call">
                {{primaryCall}}</p>
        </section>
        <section class="secondary-call">
            <p class="call">{{secondaryCall}}</p>
        </section>
    </section>
    <div class="bot-image">
        <img class="col-xs-12" src="../../assets/images/OH1BQM1.svg"/>
    </div><!--<lead-form></lead-form>-->
</header>
<lead-form></lead-form>
<post-list></post-list>