.header {
  z-index: -1;
  overflow: auto;
  background: linear-gradient(160deg,rgb(86, 204, 242), rgb(47, 128, 237));
}

@media (max-width: 767px) {
  .header {
    padding: 80px 20px 20px 20px;

  }

  .section-call {
    width: 100%;
    padding: 20px 10px;
  }

  .primary-call .call {
    font-size: 18px;
  }

  .secondary-call .call {
    padding-top: 20px;
  }

  .bot-image {
    width: 100%;
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .header {
    min-height: 100vh;
    /*padding: 50px calc(10% - 20px) 20px calc(10% - 40px);*/
  }

  .section-call {
    width: 52%;
    padding: 15% 0 0 4%;
  }

  .primary-call .call {
    font-size: 26px;
  }

  .secondary-call .call {
    padding: 40px 30px 40px 0;
  }

  .bot-image {
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 60px;
  }
}

.section-call {
  display: inline-block;
  float: left;
  height: 100%;
}

.primary-call .call {
  margin-bottom: 0;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}

.secondary-call .call {
  margin-bottom: 0;
  font-size: 18px;
  color: #ffffff;
  text-shadow: 0.02em 0 0 #6093d7;
  line-height: 1.8;
  font-family: 'TruenoRegular';
  font-weight: bold;
}

.bot-image {
  display: inline-block;
}

.bot-image img {
  width: 100%;
  display: inline-block;
}
