.header {
    z-index: -1;
    /*min-height: calc(100vh - 60px);*/
    min-height: 100vh;
    overflow: auto;
    background-image: url('../../assets/images/banner.jpg');
    background-size: auto 100%;
}

@media (max-width: 767px) {
    .header {
        padding: 80px 20px;
    }
}

@media (min-width: 768px) {
    .header {
        padding: 50px calc(10% - 20px) 20px calc(10% - 40px);
    }
}

.call {
    display: inline-block;
    float: left;
    width: 50%;
    height: 100%;
}
